/*
Theme Name: oceanwp
Theme URI: C:\Users\noelt\Local Sites\solid-rock-baptist-church\app\public\wp-content\themes\oceanwp
Description: The description of the child theme goes here
Author: Noel Miller
Author URI: https://solidrockbaptist.ca/
Template: oceanwp
Version: 1.0.0
*/

